.home-container {
  width: inherit;
  height: 95.8vh;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  border-color: #053676;
  border-style: solid;
  border-width: 6px;
  justify-content: center;
}
.home-image {
  top: 50px;
  left: 0px;
  right: 0px;
  width: 933px;
  height: 350px;
  margin: auto;
  z-index: 50;
  position: absolute;
  align-self: center;
  object-fit: contain;
  border-color: rgba(0, 0, 0, 0);
  border-style: hidden;
  border-width: 0;
  list-style-type: disc;
  list-style-image: none;
  backface-visibility: hidden;
  list-style-position: outside;
}
.home-saveData {
  width: 100px;
  bottom: 57px;
  position: absolute;
  align-self: center;
  text-align: center;
  font-family: Times New Roman;
  border-color: #ffb820;
  border-width: 2px;
}
.home-clockOut {
  width: 100px;
  bottom: 107px;
  position: absolute;
  align-self: center;
  text-align: center;
  font-family: Times New Roman;
  border-color: #053676;
  border-width: 2px;
}
.home-clockIn {
/*  background-image: url('/clockinbutton.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 50px;
  width: 200px;
  border: none;*/
  width: 100px;
  bottom: 157px;
  position: absolute;
  align-self: center;
  text-align: center;
  font-family: Times New Roman;
  border-color: #053676;
  border-width: 2px;
}
.home-dl {
  top: 40px;
  left: 40px;
  width: 330px;
  height: 326px;
  display: flex;
  position: absolute;
  flex-shrink: 0;
  padding-top: 16px;
  border-color: #ffb820;
  border-style: solid;
  border-width: 4px;
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
  padding-bottom: 16px;
  font-size: 30px;
  font-family: Courier New;
  text-align: center;
}
.home-dt {
  text-align: center;
  font-size: 25px;
  font-family: Courier;
  text-align: center;
}